streamlit>=1.30
streamlit-webrtc>=0.64.5
opencv-python-headless
mediapipe
numpy
pillow
pandas
sqlalchemy
psycopg2-binary   # if you use Postgres on render; else adjust
av==9.2.0        # required by streamlit-webrtc (may be builtin on render if using apt)

